.container {
  box-sizing: border-box;
  padding: 10px;
  width: 50vw;
  height: 70vh;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.boxNumber {
  padding: 5px;
  margin-bottom: 5px;
  text-align: center;
}
.button {
  width: 30%;
  height: 10%;
  background-color: lightseagreen;
  color: white;
  border-style: none;
  border-radius: 3px;
}

.paragraph {
  border: 1px solid gray;
  padding: 5px;
}
